@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0; }

body,
html {
  font-size: 18px;
  scroll-behavior: smooth !important;
  font-family: 'consolas', sans-serif, serif; }

h1, h2, h3, h4, h5, h6, p, span, code, pre {
  pointer-events: none !important; }

p a {
  pointer-events: visible; }

.small-lead {
  font-size: .8rem; }

.ws-none {
  white-space: nowrap; }

.lh-08 {
  line-height: 80%; }

.lh-09 {
  line-height: 90%; }

.lh-1 {
  line-height: 100%; }

.sup-separator {
  width: 25px;
  height: 2px;
  background: #fff; }

.bg-black {
  background: #000 !important; }

.text-white-hover:hover {
  color: #fff !important; }

#wrap-wrap #main-content {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/main-bg-wave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }
#wrap-wrap #page_me {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/img/bg-me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }
#wrap-wrap #my-projects {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/img/bg-projects.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }

#wrap-wrap #side-nav-projects .title-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  #wrap-wrap #side-nav-projects .title-label .tag-label {
    transition: .3s;
    transition-delay: .3s;
    background: #000;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 2; }
    #wrap-wrap #side-nav-projects .title-label .tag-label .content {
      padding: 1%; }
      #wrap-wrap #side-nav-projects .title-label .tag-label .content p {
        color: #f1f1f1;
        margin: 0; }
  #wrap-wrap #side-nav-projects .title-label .btn-label .content {
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    margin-right: -38px;
    background: #000;
    height: auto;
    width: 35px;
    text-align: center;
    padding: 30px 50px 0px 10px;
    transform: rotate(45deg); }
    #wrap-wrap #side-nav-projects .title-label .btn-label .content svg {
      transform: rotate(-45deg);
      color: #f1f1f1;
      z-index: 4; }
#wrap-wrap #side-nav-projects:hover .links-label {
  width: 250px; }
#wrap-wrap #side-nav-projects:hover .title-label .tag-label,
#wrap-wrap #side-nav-projects:hover .title-label .btn-label {
  opacity: 0;
  transition: .5s; }
#wrap-wrap #side-nav-projects .links-label {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  height: 100%;
  width: 0px;
  overflow: hidden;
  transition: ease .5s;
  transition-delay: .05s; }

/*# sourceMappingURL=styles.css.map */
