@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");
* {
  margin: 0;
  padding: 0; }

body,
html {
  font-size: 18px;
  scroll-behavior: smooth !important;
  font-family: 'Frank Ruhl Libre', serif; }

h1, h2, h3, h4, h5, h6, p, span, code, pre {
  pointer-events: none !important; }

p a {
  pointer-events: visible; }

.small-lead {
  font-size: .8rem; }

.ws-none {
  white-space: nowrap; }

.lh-08 {
  line-height: 80%; }

.lh-09 {
  line-height: 90%; }

.lh-1 {
  line-height: 100%; }

.sup-separator {
  width: 25px;
  height: 2px;
  background: #fff; }

.bg-black {
  background: #000 !important; }

.text-white-hover:hover {
  color: #fff !important; }

@media (max-width: 370px) {
  .display-4 {
    font-size: 2.5rem !important; } }
@media (max-width: 576px) {
  .display-4 {
    font-size: 3rem; }

  nav ul {
    width: 100%; }
    nav ul li {
      text-align: center !important; } }
.logo .rotating-logo {
  width: 25px;
  height: 25px;
  margin: 10px auto;
  perspective: 50px; }
  .logo .rotating-logo .single-rl {
    width: 25px;
    transform-style: preserve-3d;
    transition: .5s; }
    .logo .rotating-logo .single-rl:hover {
      animation-name: rotate_logo;
      animation-duration: 2s;
      animation-play-state: inherit; }
      .logo .rotating-logo .single-rl:hover div {
        background: #fff; }
    .logo .rotating-logo .single-rl div {
      position: absolute;
      width: 25px;
      height: 25px;
      border: 1px solid #000;
      background: #6c757d;
      transition: ease .5s; }
      .logo .rotating-logo .single-rl div img {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .logo .rotating-logo .single-rl div:nth-child(1) {
        transform: translateZ(12.5px); }
      .logo .rotating-logo .single-rl div:nth-child(2) {
        transform: rotateY(180deg) translateZ(12.5px); }
      .logo .rotating-logo .single-rl div:nth-child(3) {
        transform: rotateY(-90deg) translateX(-12.5px);
        transform-origin: left; }
      .logo .rotating-logo .single-rl div:nth-child(4) {
        transform: rotateY(90deg) translateX(12.5px);
        transform-origin: right; }
      .logo .rotating-logo .single-rl div:nth-child(5) {
        transform: rotateX(-90deg) translateY(-12.5px);
        transform-origin: top; }
      .logo .rotating-logo .single-rl div:nth-child(6) {
        transform: rotateX(90deg) translateY(12.5px);
        transform-origin: bottom; }

@keyframes rotate_logo {
  100% {
    transform: rotateY(360deg); } }
#preload {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  background-color: transparent;
  opacity: 0 !important; }
  #preload.active {
    animation: rotate_logo;
    background: #fff;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    opacity: 1 !important; }
  #preload .logo-preload .rotating-logo {
    width: 25px;
    height: 25px;
    margin: 10px auto;
    perspective: 50px; }
    #preload .logo-preload .rotating-logo .single-rl {
      width: 25px;
      transform-style: preserve-3d;
      animation: rotate_logo linear infinite 2s; }
      #preload .logo-preload .rotating-logo .single-rl > div {
        background: #fff;
        position: absolute;
        width: 25px;
        height: 25px;
        border: 1px solid #000; }
        #preload .logo-preload .rotating-logo .single-rl > div > img {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        #preload .logo-preload .rotating-logo .single-rl > div:nth-child(1) {
          transform: translateZ(12.5px); }
        #preload .logo-preload .rotating-logo .single-rl > div:nth-child(2) {
          transform: rotateY(180deg) translateZ(12.5px); }
        #preload .logo-preload .rotating-logo .single-rl > div:nth-child(3) {
          transform: rotateY(-90deg) translateX(-12.5px);
          transform-origin: left; }
        #preload .logo-preload .rotating-logo .single-rl > div:nth-child(4) {
          transform: rotateY(90deg) translateX(12.5px);
          transform-origin: right; }
        #preload .logo-preload .rotating-logo .single-rl > div:nth-child(5) {
          transform: rotateX(-90deg) translateY(-12.5px);
          transform-origin: top; }
        #preload .logo-preload .rotating-logo .single-rl > div:nth-child(6) {
          transform: rotateX(90deg) translateY(12.5px);
          transform-origin: bottom; }

#wrap-wrap #main-content {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/img/main-bg-wave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }
#wrap-wrap #page_me {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/img/bg-me.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }
#wrap-wrap #my-projects {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../media/img/bg-projects.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%; }

#wrap-wrap #side-nav-projects .title-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  #wrap-wrap #side-nav-projects .title-label .tag-label {
    transition: .3s;
    transition-delay: .3s;
    background: #000;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 2; }
    #wrap-wrap #side-nav-projects .title-label .tag-label .content {
      padding: 1%; }
      #wrap-wrap #side-nav-projects .title-label .tag-label .content p {
        color: #f1f1f1;
        margin: 0; }
  #wrap-wrap #side-nav-projects .title-label .btn-label .content {
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
    margin-right: -38px;
    background: #000;
    height: auto;
    width: 35px;
    text-align: center;
    padding: 30px 50px 0px 10px;
    transform: rotate(45deg); }
    #wrap-wrap #side-nav-projects .title-label .btn-label .content svg {
      transform: rotate(-45deg);
      color: #f1f1f1;
      z-index: 4; }
#wrap-wrap #side-nav-projects:hover .links-label {
  width: 300px; }
#wrap-wrap #side-nav-projects:hover .title-label .tag-label,
#wrap-wrap #side-nav-projects:hover .title-label .btn-label {
  opacity: 0;
  transition: .5s; }
#wrap-wrap #side-nav-projects .links-label {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  height: 100%;
  width: 0px;
  overflow: hidden;
  transition: ease .5s;
  transition-delay: .05s; }

@keyframes rotate_logo {
  100% {
    transform: rotateY(360deg); } }

/*# sourceMappingURL=styles.css.map */
