.small-lead {
  font-size: .8rem;
}
.ws-none {
  white-space: nowrap;
}
.lh-08 {
  line-height: 80%;
}
.lh-09 {
  line-height: 90%;
}
.lh-1 {
  line-height: 100%;
}
.sup-separator {
  width: 25px;
  height: 2px;
  background: #fff;
}
.bg-black {
  background: #000 !important;
}
.text-white-hover:hover {
  color: #fff !important;
}