* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 18px;
  font-family: 'Unica One', sans-serif, serif !important;
  scroll-behavior: smooth !important;
}

h1, h2, h3, h4, h5, h6, p, span, code, pre {
  pointer-events: none !important;
}
p a {
  pointer-events: visible;
}