// md to up
// @media (min-width: 767px) {

// }
// sm to up
// @media (min-width: 576px) {
  
// }
// xs to up
// @media (min-width: 576px) {
  
// }
// defect on

// xs to down
@media (max-width: 370px) {
  .display-4 {
    font-size: 2.5rem !important;
  }
}
// sm to down
@media (max-width: 576px) {
  .display-4 {
    font-size: 3rem;
  }
  nav {
    ul {
      width: 100%;
      li {
        text-align: center !important;
      }
    }
  }
}
// md to down
// @media (max-width: 767px) {

// }
