@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');

@import "_globals.scss";
@import "_bem.scss";

@import "_bg-images.scss";

@import "_side-nav.scss";

#wrap-wrap {
  #my-projects {
    #menu-button {
      a {
        display: block;
        div {
          width: 30px;
          height: 2px;
          border: 1px solid #000;
          margin: 5px 0;
          transition: ease .3s all;
        }
        &:hover {
          div {
            width: 28px;
            margin: 7px 0;
            &:nth-child(2) {
              width: 25px;
              margin: auto;
            }
          }
        }
      }
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #000;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      @media screen and (max-height: 450px) {
        .sidenav {
          padding-top: 15px;
          a {
            font-size: 18px;
          }
        }
      }
      a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
        &:hover {
          color: #f1f1f1;
        }
      }
      &.closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    }
  }
}