/* PHP Email Form Messages
------------------------------*/
.php-email-form {
  
  .error-message {
    display: none;
    background: #df1529;
    color: #ffffff;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .sent-message {
    display: none;
    color: #ffffff;
    background: #059652;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }

  .loading {
    display: none;
    background: var(--surface-color);
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;

    &::before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin: 0 10px -6px 0;
      border: 3px solid var(--accent-color);
      border-top-color: var(--surface-color);
      animation: php-email-form-loading 1s linear infinite;
    }
  }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {

  .info-wrap {
    margin-bottom: 30px;
  }

  .info-item {

    i {
      font-size: 20px;
      color: var(--accent-color);
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, var(--accent-color), transparent 40%);
      margin-right: 15px;
    }
    
    h3 {
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 5px 0;
      font-family: var(--default-font);
    }

    p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
    }

    &:hover i {
      background: var(--accent-color);
      color: var(--contrast-color);
    }    
  }

  .php-email-form {

    input[type=text],
    input[type=email],
    textarea {
      font-size: 14px;
      padding: 10px 15px;
      box-shadow: none;
      border-radius: 0;
      color: var(--default-color);
      background-color: var(--tertiary-color);
      border-color: color-mix(in srgb, var(--default-color), transparent 10%);

      &:focus {
        border-color: var(--accent-color);
      }

      &::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 40%);
      }
    }

    @include mq("phone-m", max) {
      padding: 20px;
    }
  }
}
