/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.scrolled {
  .header {
    border-color: color-mix(in srgb, var(--background-color) 90%, white 20%);
  }
}

.header {
  color: var(--accent-color);
  background-color: #e9e8e6;
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);

  .header .navmenu {
    @include mq("tablet-s", max) { 
      order: 3;      
    }
  }

  .logo {
    line-height: 1;
    
    @include mq("tablet-s", max) { order: 1; }
    
    img {
      max-height: 36px;
      margin-right: 8px;
    }
    
    h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 400;
      color: var(--default-color);

      @include mq("tablet-s", max) { 
        font-size: 26px; 
      }
    }
    
    i {
      font-size: 28px;
      margin-right: 6px;

      @include mq("tablet-s", max) { 
        font-size: 20px;
      }
    }
  }
  
  &-social-links {
    padding-right: 15px;

    @include mq("tablet-s", max) { 
      order: 2;
    }
    
    a {
      color: color-mix(in srgb, var(--accent-color), transparent 10%);
      padding-left: 6px;
      display: inline-block;
      transition: 0.3s;
      font-size: 16px;
      
      @include mq("tablet-s", max) { 
        font-size: 16px;
      }

      &:hover {
        color: var(--accent-color);
      }

      i {
        line-height: 0px;
      }
    }
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@include mq("desktop-md", min) {
  .navmenu {
    padding: 0;

    .dropdown {

      ul {
        margin: 0;
        padding: 10px 0;
        background: var(--nav-dropdown-background-color);
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;

        li {
          min-width: 200px;

          &:hover > a {
            color: var(--nav-dropdown-hover-color);
          }
        }

        a {
          padding: 10px 20px;
          font-size: 15px;
          text-transform: none;
          color: var(--nav-dropdown-color);

          i {
            font-size: 12px;
          }

          &:hover {
            color: var(--nav-dropdown-hover-color);
          }
        }

        .active:hover {
          color: var(--accent-color);
        }
      }

      &:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }

      .dropdown {
        
        ul {
          top: 0;
          left: -90%;
          visibility: hidden;
        }

        &:hover > ul {
          opacity: 1;
          top: 0;
          left: -100%;
          visibility: visible;
        }
      }
    }
    
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }

    li {
      position: relative;

      &:last-child a {
        padding-right: 0;
      }

      &:hover > a,
      .active,
      .active:focus {
        color: var(--accent-color);
        font-weight: bold;
      }

    }

    a,
    a:focus {
      color: var(--accent-color);
      padding: 18px 15px;
      font-size: 14px;
      font-family: var(--accent-color);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    a i,
    a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  }
}

/* Navmenu - Mobile */
@include mq("desktop-md", max) {
  .mobile-nav {

    &-active {
      overflow: hidden;

      .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
      }

      .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;

        > ul {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          list-style-type: none;

          li a {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
      }
    }
    
    &-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  }
  
  .navmenu {
    padding: 0;
    z-index: 9997;

    ul {
      display: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    a,
    a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;

      i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, var(--accent-color), transparent 90%);

        &:hover {
          background-color: var(--accent-color);
          color: var(--contrast-color);
        }
      }
    }

    a:hover,
    .active,
    .active:focus {
      color: var(--nav-dropdown-hover-color);

      i {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        transform: rotate(180deg);
      }
    }

    .dropdown {

      ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: var(--nav-dropdown-background-color);
        border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
        
        ul {
          background-color: rgba(33, 37, 41, 0.1);
        }
      }

      > .dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
      }
    }
  }
}