/* Fonts */
:root {
  --default-font: "Poppins", serif,  system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Cardo",  sans-serif;
  --nav-font: "Inter",  sans-serif;
}